
  .main-content {
    flex: 1;
    margin-left: 260px; 
    transition: margin-left 0.3s ease;
    padding: 20px;
    width: calc(100% - 260px); 
    box-sizing: border-box;
  }
  
  .main-content .sidebar-collapsed {
    margin-left: 80px; 
    width: calc(100% - 80px); 
  }
  
  
  @media (max-width: 576px) {
    .main-content {
      margin-left: 0;
      width: 100%;
      padding: 0px
    }
  }